@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Press+Start+2P&display=swap');

*{
  box-sizing: border-box;
}
body{
  padding: 1em;
  margin: 0;
  background-color: black;
  color: #00b800;
  font-weight: 400;
  font-family:'Press Start 2P',cursive ;
  letter-spacing: 1.4px;
  text-align: center;
}

#root{
  width:95%;
  margin:0 auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.inputholder{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.para{
  width:45%;
  height: 400px;
  background-color: yellowgreen;
  padding: 1em;
  line-height: 1.5;
  font-size: 1.25rem;
  color: black;
  overflow-y: auto;
}

textarea{
  width: 48%;
  height: 400px;
  background: #00b800;
  font-family:'Press Start 2P',cursive ;
  padding: 1em;
  line-height: 1.5;
  font-size: 1.25rem;
}
textarea:disabled{
  background-color: #a5a2a2;
}

textarea:focus{
  border: none;
  outline: none;
}

button{
  font-size: 1.5rem;
  font-family:'Press Start 2P',cursive ;
  background: #00b800;
  padding: 1em 1.3em;
  text-transform: uppercase;
}
button:disabled{
  cursor:not-allowed;
}

button:hover{
  cursor: pointer;
}

@media (max-width:750px){
  html{
    font-size: 13px;
  }
  .inputholder{
    flex-direction: column;
  }
  .para,textarea{
    height: 32vh;
    width: 100%;
    overflow-y: auto;
  }
  .para{
    margin-bottom: 1.3em;
    order: -1;
  }
}

